# Backups
*~

# autoconf/automake
*.in
autom4te.cache/
autoscan.log
compile
configure
configure.scan
config.h
config.log
config.status
depcomp
install-sh
missing
stamp-h1
Makefile
src/Makefile

# Build artifacts
src/*.o
src/.deps
src/picosocks5
