# Backups
*~

# autoconf/automake
*.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
configure
configure.scan
config.h
config.log
config.status
depcomp
install-sh
missing
stamp-h1
Makefile
src/Makefile

# Build artifacts
src/*.o
src/.deps
src/picosocks5
src/pis5user
src/*.man

# Debian build artefacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/picosocks5/
debian/picosocks5-gnutls/
debian/picosocks5-minimal/
debian/picosocks5-openssl/
debian/picosocks5-utils/
debian/tmp-build/
debian/tmp/
