[Unit]
Description=PicoSOCKS5 Daemon
After=network.target

[Service]
ExecStart=/usr/sbin/pickosocks5 --config /etc/picosocks5.conf
Restart=on-failure

[Install]
WantedBy=default.target
